<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>518131830711-ej0l4kp07htd1oqgn3155cuebk3ubmup.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.518131830711-ej0l4kp07htd1oqgn3155cuebk3ubmup</string>
	<key>API_KEY</key>
	<string>AIzaSyBdO9kKm1Uqzutc8SstpSEq6Ky-O6LM6pQ</string>
	<key>GCM_SENDER_ID</key>
	<string>518131830711</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.userAvatarFirebase</string>
	<key>PROJECT_ID</key>
	<string>user-avatar-872135</string>
	<key>STORAGE_BUCKET</key>
	<string>user-avatar-872135.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:518131830711:ios:d15e68b2e9c1b7c1202232</string>
</dict>
</plist>